"workshopitem"
{
	"appid"		"4358690"
	"publishedfileid"		"{PUBLISHED_FILE_ID}"
	"contentfolder"		"{CONTENT_FOLDER}"
	"previewfile"		"{PREVIEW_FILE}"
	"visibility"		"2"
	"title"		"KeeperSpawner"
	"changenote"		"{CHANGE_NOTE}"
}
